@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  scrollbar-width: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* for Internet Explorer and Edge */
}

@keyframes slideUp {
  0% {
    transform: translateY(-80%);
    opacity: 0;
  }
  100% {
    transform: translateY(-100%);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slideUp 0.2s ease-out forwards;
}

.grid-item {
  @apply rounded-[25px] overflow-hidden bg-base-300;
}

/* Override placholder style from react-grid-layout */
.react-grid-item.react-grid-placeholder {
  @apply bg-base-300 rounded-[25px] opacity-30 border border-base-content border-dashed !important;
}

.full-bleed {
  box-shadow: 0 0 0 100vmax #0a004c;
  clip-path: inset(0 calc((-50vw + 50%) + 4px) round 10px);

  @media (min-width: 767px) {
    & {
      clip-path: inset(0 calc((-50vw + 50%) + 16px) round 20px);
    }
  }
}

.spinner {
  @apply w-12 h-12 border-[5px] border-primaryPurple border-t-transparent rounded-full; /* Tailwind classes for size, color, and border */
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.color-picker {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.color-picker::-webkit-color-swatch {
  border-radius: 50%;
  border: none;
}
.color-picker::-moz-color-swatch {
  border-radius: 50%;
  border: none;
}

.text-title:hover .remove-text-title, .text-title-input:focus + .remove-text-title {
  display: flex;
}
